{% extends 'foodapp/main.html' %}
{% load static %}
{% block content %}

<div style="margin-top: 30px;" class="container">

<a class ="btn btn-outline-dark" href="{% url 'store' %}">&#x2190;Back to Store</a>
<div class="d-flex justify-content-center">
    
    <div class="col-md-8 ">
        
        <div class="box-element product ">
            <img  class="thumbnail_detail" src="{{products.imageURL}}" alt="">
            <hr>
            <h6><strong>{{products.name}}</strong></h6>
            <hr>
            <h6>Type:</h6>
            <button  data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">
            <a href="#"> Add to Cart</a></button>

            <h4 style="display: inline-block; float: right;">{{products.price}}</h4>
            
        </div> 
        
    </div>

</div>
</div>

{% endblock content %}
