{% extends 'foodapp/main.html' %}
{% load static %}
{% block content %}

<div class="container">

    <div class="row">
    
    
        {% for product in products %}   
    <div style="margin-top: 30px;" class="col-md-4">
        <div class="box-element product">
        <img  class="thumbnail" src="{{product.imageURL}}" alt="">
        <hr>
        <h6><strong>{{product.name}}</strong></h6>
        <hr>
        <h6>Type:</h6>
        <button  data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">
        <a href="#"> Add to Cart</a></button>&nbsp;

        <button data-product="{{ product.id }}" class="btn btn-outline-secondary">
            <a href="{% url 'detail' %}">View</a>

        </button>
        
        <h4 style="display: inline-block; float: right;">{{product.price}}
        </h4>
        
        </div> 
            
        
            
        
         
      

    </div>
    {% endfor %}
</div>
</div>

{% endblock content %}
