{% extends 'foodapp/main.html' %}
{% load static %}
{% block content %}



<div class="jumbotron">
    <div class="container">
    <h1 style="text-align: center;">Welcome to HomeFoods!  {{user.username}} </h1>
</div>
</div>
<div class="container">

<div class="row">
    
    {% for business in businesses %}
    <div class="col-md-4">
        <div class="box-element product">
        <img  class="thumbnail" src="{% static 'images/assets/placeholder.png' %}" alt="">
        <hr>
        <h6><strong>{{business.bname}}</strong></h6>
        <hr>
        <h6>{{business.specialities}}</h6>
        <h6>{{business.location}} &nbsp;&nbsp;
            <button data-product={{business.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">
                <a href="{% url 'store' business.id %}"> View</a></button>
        </h6>
                
        
            
            
      

    </div>
    </div>
    {% endfor %}
</div>
</div>




{% endblock content %}