{% extends 'foodapp/main.html' %}
{% load static %}
{% block content %}
<div class="container">

<div class="row">
    
    
        {% for menu in menus %}   
    <div style="margin-top: 30px;" class="col-md-4">
        <div class="box-element product">
        <img  class="thumbnail" src="{% static 'images/assets/placeholder.png' %}" alt="">
        <hr>
        <h6><strong>{{menu.dish_name}}</strong></h6>
        <hr>
        <h6>Type:</h6>
        <button data-product="" data-action="add" class="btn btn-outline-secondary add-btn update-cart">
            <a href="{% url 'cart' %}"> Add to Cart</a></button>        
        
            
        <h4 style="display: inline-block; float: right;">{{menu.price}}</h4>
        </div>
      

    </div>
    {% endfor %}
    
</div>
</div>



{% endblock content %}